@media (max-width: 1650px) {
  main {
    height: 934px;
  }
  .body__images-container {
    height: 850px;
  }
}
@media (max-width: 1500px) {
  .body__images-container {
    width: 85%;
    height: 750px;
  }
}
@media (max-width: 1350px) {
  .body__images-container {
    height: 650px;
  }
}
@media (max-width: 1200px) {
  .body__images-container {
    width: 80%;
    height: 550px;
  }
}
@media (max-width: 1050px) {
  .body__images-container {
    height: 500px;
  }
}
@media (max-width: 950px) {
  .body__images-container {
    width: 75%;
    height: 425px;
  }
}
@media (max-width: 800px) {
  .body__images-container {
    width: 70%;
    height: 325px;
  }
}
@media (max-width: 700px) {
  .body__images-container {
    width: 70%;
    height: 250px;
  }
}
@media (max-width: 550px) {
  .body__previous-slide {
    margin-left: 25px;
  }
  .button {
    width: 35px;
    height: 45px;
  }
  .body__images-container {
    width: 65%;
    height: 200px;
  }
  .body__next-slide {
    margin-right: 25px;
  }
}